<form class="p-8 md:max-w-md max-w-xs mx-auto bg-base-200 mt-20 form-border border-2 border-primary">
  <h3 class="text-center text-cyan-700 font-bold" >Sign Up</h5>
  <p class="text-center text-cyan-700">Enter your name and choose a password to create your account</p>
  <div class="form-control">
    <input type="text" id="firstname" class="input input-bordered border-primary border-2 rounded-none mt-3" placeholder="First Name">
  </div>
  <div class="form-control">
    <input type="email" id="lastname" class="input input-bordered border-primary border-2 rounded-none mt-3" placeholder="Last Name">
  </div>
  <div class="form-control">
    <input id="email" class="input input-bordered border-primary border-2 rounded-none mt-3" placeholder="Email Address">
  </div>
    <div class="form-control">
    <input id="password" class="input input-bordered border-primary border-2 rounded-none mt-3" placeholder="Password">
  </div>
  <div class="form-control mt-4">
    <button type="submit" class="btn btn-primary rounded-none">Sign up today</button>
  </div>
</form>