<div class="hero xl:min-h-screen bg-[url(/images/hero-3.svg)]">
    <div class="hero-content text-center">
        <div class="max-w-md">
        <p class="font-bold">You are not authorized to view this page.</p><br>
        </div>
    </div>
</div>