<div class="hero xl:min-h-screen bg-[url(/images/hero-3.svg)]">
    <div class="hero-content text-center">
        <div class="max-w-md">
        <h1 class="text-4xl lg:text-4xl font-bold mt-4 xl:mt-0">Welcome to KITCHAVST</h1><br>
        <p>Your account has been successfully created.</p><br>
        <p>Please check your email for details on how to activate your account and get started.</p><br>
        <p class="font-bold">Thank you for joining us!</p><br>
        <button class="btn mb-6 xl:mb-0 bg-cyan-700 border-transparent text-white w-72 min-h-9 h-9 text-lg hover:bg-cyan-900 hover:border-transparent mt-4"><a href="/mealkits/on-the-menu">Explore our mealkits</a></button>
        </div>
    </div>
</div>