* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    color:rgb(107, 107, 107);
}
#top-bar {
    text-align: center;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: darkcyan;
    font-weight: bold;
}
.nav-bar li a {
    margin-top: -3px;
}
.nav-bar li a img {
    margin-top: -30px;
    margin-bottom: -30px;
    width: 120px;
    height: 70px;
}
.header {
    background-image: url("/images/Header-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header nav {
    background-color: #fff;
    font-size: 16px;
    border: 1px solid darkcyan;
}
.header nav ul.nav-bar {
    display: flex;
}
.header nav ul li{
    cursor: pointer;
    margin: auto 2%;
    list-style-type: none;
}

nav ul .menu a{
    color: rgb(6, 102, 102);
    font-weight: 600;
    text-decoration: none;
}
nav ul .menu a:hover {
    color: grey;
}
nav ul .signUp a,
nav ul .login a{
    font-weight: bold;
    font-size: 120%;
    margin: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    border: 2px solid darkcyan;
    border-radius: 30px;
    color: darkcyan;
    min-width: 3%;
    text-decoration: none;
}
.log-sign{
    display: flex;
    margin-right: 3%;
    margin-left: auto;
    gap: 5%;
}
nav ul .signUp a{
    width: 130px;
    margin-left: -15px;
    color: #fff;
    font-weight: bold;
    background-color: darkcyan;
}
nav ul .login a:hover{
    border-color:rgb(6, 102, 102);
    color: rgb(6, 102, 102);
}
nav ul .signUp a:hover{
    border-color:rgb(6, 102, 102);
    background-color:rgb(6, 102, 102);
}
ul .login {
    margin-left: auto;
}
.hero {
    height: 400px;
}
.hero h1 {
    margin-top: 90px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 900;
    font-size: 45px;
}
.hero p{
    text-align: center;
    font-size: 18px;
}
.btn-div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-div a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 120px;
}

.btn-div a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    width: 220px;
    height: 45px;
    background-color: darkcyan;
    border: none;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
}

.btn-div a:hover{
    background-color:rgb(6, 102, 102);
}

.introduction h1, .why-us-section h1, .meal-kit h1{
    padding-top: 30px;
    color: rgb(6, 102, 102);
    text-align: center;
    margin: 3% auto;
}
.how-it-work-video {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}
.how-it-work-video a{
    color: darkcyan;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 8%;
    margin-right: 8%;
    width: auto;
    overflow: hidden;
} 
.intro {
    text-align: center;
    margin: 3% 3%;
    border: 1px solid rgb(228, 228, 228);
}
.intro img {
    width: 100%;
    height: 24vh;
}
.intro p, .intro h5 {
    line-height: 150%;
    font-size: 110%;
    text-align: center;
    margin: 2vh 3%;
}

.intro h5{
    line-height: 30%;
    font-weight: bold;
    color: rgb(6, 102, 102);
}
.why-us-section .intro{
    border: none;
}
.intro .read-more{
    color: darkcyan;
}

.why-us-section .intro img {

    width: 100%;
    height: 29vh;
}

.meal-kit .container {
    gap: 2%;
    grid-template-columns: repeat(3, 1fr) !important;
    background-color: rgb(243, 243, 243);
}

.meal-kit .container .intro {
    margin: 2%;
    background-color: #fff;
    box-shadow: 0 0 3px rgb(202, 202, 202);
}
.meal-kit .container .intro h5{
    text-align: left;
    margin: 3vh 0 0 4%;
}
.meal-kit .container .intro p{
    text-align: left;
    line-height: 20%;
    font-size: 12px;
    margin: 2vh 0 5vh 4%;
} 
.meal-kit .container .intro a {
    margin: 0 4% 2.5vh 0;
    float: right;
    padding: 0.5vh 7%;
    text-decoration: none;
    color: rgb(6, 102, 102);
    border: 2px solid rgb(6, 102, 102);
    border-radius: 5px;
}
.meal-kit .container .intro img{
    width: 100%;
    height: 31vh;
}
footer {
    margin-top: 6vh;
    padding-bottom: 3vh;
    background-color: rgb(6, 102, 102);
}
footer nav{
    display: flex;
    justify-content: space-around;
}

footer nav ul{
    margin: 1% auto;
}
footer nav ul li{
    color:#fff;
    text-wrap: nowrap;
    padding: 5px;
}
footer nav ul li a {
    color:#fff;
    text-decoration: none;
}

footer nav ul li{
    cursor: pointer;
    margin: auto 2%;
    list-style-type: none;
}

footer nav .non-link{
    cursor: text;
}
footer nav .small-font{
    font-size: 10px;
}
footer nav .white-space {
    margin-top: 8px;
}

footer nav .last-column{
    text-align: right;
}
footer nav ul li h3 {
    color:#fff
}
footer p{
    margin: auto 8% auto 8%;
    color: #fff;
    font-size: 14px;
    text-align: center;
}
.fa-brands{
    margin-right: 5px;
    color:#fff;
    vertical-align:text-bottom;
}
.fa-regular.fa-circle-play{
    font-size: 25px;
    vertical-align:baseline;
    color: darkcyan;
    margin-right: 5px;
}
.how-it-work-video span{
    color: darkcyan;
}