<form method="post" action="/mealkits/add" enctype="multipart/form-data" class="p-8 md:max-w-md max-w-xs mx-auto bg-stone-100 mt-20 form-border border border-cyan-700">
  <div class="text-center text-cyan-700 font-bold text-xl" >Add Mealkits</div>
  <div class="text-center text-cyan-700 text-sm font-bold">Enter the following information for the new mealkit:</div>
  <div class="form-control">
    <input type="text" name="title" id="title" class="input input-bordered border-cyan-700 border rounded-none mt-3" placeholder="Title">
  </div>
  <div class="form-control">
    <input type="text" name="includes" id="includes" class="input input-bordered border-cyan-700 border rounded-none mt-3" placeholder="Includes">
  </div>
  <div class="form-control">
    <input type="text" name="description" id="description" class="input input-bordered border-cyan-700 border rounded-none mt-3" placeholder="Description">
  </div>
  <div class="form-control">
    <input type="text" name="category" id="category" class="input input-bordered border-cyan-700 border rounded-none mt-3" placeholder="Category">
  </div>
  <div class="form-control">
    <input type="number" step="0.01" name="price" id="price" class="input input-bordered border-cyan-700 border rounded-none mt-3" placeholder="Price">
  </div> 
  <div class="form-control">
    <input type="number" name="cookingTime" id="cookingTime" class="input input-bordered border-cyan-700 border rounded-none mt-3" placeholder="Cooking Time">
  </div> 
  <div class="form-control">
    <input type="number" name="servings" id="servings" class="input input-bordered border-cyan-700 border rounded-none mt-3" placeholder="Servings">
  </div>  
  <div class="form-control mt-5">
    <input type="file" name="imageUrl" id="imageUrl" class="file-input file-input-bordered file-input-primary w-full max-w-xs" />
  </div> 
  <div class="form-control">
    <label class="label cursor-pointer">
        <span class="label-text text-cyan-700 lg:text-lg">Featured mealkit</span> 
        <input type="checkbox" name="featuredMealKit" id="featuredMealKit" value="Yes" class="checkbox checkbox-primary" />
    </label>
  </div>
  <div class="form-control mt-4">
    <button type="submit" class="btn btn-base-200 bg-cyan-700 text-white text-xl font-bold hover:bg-cyan-900">Add</button>
  </div>
</form>